# models
*.h5
*.hdf5
*.pth
*.pt
*.ckpt
*.ckpt.*
*.pb
*.pbtxt
*.weights
*.onnx
*.tflite
*.bin
*.trt

# folders
.ipynb_checkpoints
__pycache__
.vscode
env
tmp
src
dst

# files
*.tar
*.tar.gz
*.zip
*.rar
*.log
*.pyc
*.db
*.sqlite3